@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron" align="center">
    <h1>.NET 💜 Azure</h1>
    <h1>Hemanth Mamidi</h1>
    <h1>500237506</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
    <p class="lead">checking the Github Action Workflow Attempt-1</p>
</div>
